# DATA PREPROCESSİNG

##### import libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

#### import dataset

In [7]:
dataset = pd.read_csv("Data.csv")
dataset

  Country   Age   Salary Purchased
0  Turkey  40.0  72000.0        No
1     USA  27.0  48000.0       Yes
2   Japan  30.0  54000.0        No
3     USA  38.0  61000.0        No
4  Turkey  40.0      NaN       Yes
5  Turkey  35.0  58000.0       Yes
6   Japan   NaN  52000.0        No
7     USA  48.0  79000.0       Yes
8  Turkey  50.0  83000.0        No
9   Japan  37.0  67000.0       Yes

In [8]:
type(dataset)

pandas.core.frame.DataFrame

#### seperate independent variables and dependent variables

In [22]:
X = dataset.iloc[:,:-1] # -1 son sütun anlamına geliyor. dataset büyük olursa -1 yazabiliriz
# X = dataset.iloc[:,:3]  index location kullanarak datasetin gereken yerlerini alıyoruz  
X

  Country   Age   Salary
0  Turkey  40.0  72000.0
1     USA  27.0  48000.0
2   Japan  30.0  54000.0
3     USA  38.0  61000.0
4  Turkey  40.0      NaN
5  Turkey  35.0  58000.0
6   Japan   NaN  52000.0
7     USA  48.0  79000.0
8  Turkey  50.0  83000.0
9   Japan  37.0  67000.0

In [25]:
# X şu anda numpy arrayi formatında, 2D matris tipindedir.

X_tip = dataset.iloc[:,:-1].values
X_tip

#type(X_tip)

array([['Turkey', 40.0, 72000.0],
       ['USA', 27.0, 48000.0],
       ['Japan', 30.0, 54000.0],
       ['USA', 38.0, 61000.0],
       ['Turkey', 40.0, nan],
       ['Turkey', 35.0, 58000.0],
       ['Japan', nan, 52000.0],
       ['USA', 48.0, 79000.0],
       ['Turkey', 50.0, 83000.0],
       ['Japan', 37.0, 67000.0]], dtype=object)

In [29]:
y = dataset.iloc[:,-1]
y

# y = dataset.iloc[:,-1].values
# y
# Burada dependent variable tek boyutlu vektör matristir.
# type(y) -> numpy.ndarray

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
      dtype=object)

#### Lost Data